.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.button1 {
  color: white;
  background-color: rgb(72, 255, 0);
  text-shadow: rgb(0, 0, 0) 0cap 0 2px;
  width: 100px;
  height: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 9%;
  font-family: Garamond, serif;
}

.button2 {
  color: white;
  background-color: rgb(255, 51, 0);
  text-shadow: rgb(0, 0, 0) 0cap 0 2px;
  width: 100px;
  height: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 9%;
  font-family: Garamond, serif;
}